.app-navbar {
  background-color: #162931;
  border-color: #162931;
  border-radius: 0px;
}
.app-navbar .navbar-header .app-logo {
  width: 175px;
  height: 42px;
  margin-top: -6px;
}
.app-navbar .collapse button.search-btn {
  min-height: 50px;
  background-color: #162931;
  border-color: #162931;
  border-radius: 0px;
}
.app-navbar .collapse input.search-input {
  min-height: 48px;
  font-size: 20px;
  border-radius: 0px;
  background-color: #162931;
  border-color: #162931;
  color: #fff;
  box-shadow: none !important;
}
.app-navbar .collapse .search-form {
  margin-top: 5px;
  margin-bottom: 4px;
}
.app-navbar .collapse ul .bell-logo {
  padding-top: 5px;
}
.app-navbar .collapse ul .user-logo {
  padding-right: 20px;
  padding-left: 14px;
  padding-top: 12px;
}
.app-navbar .collapse ul .user-logo .user-logo-img {
  width: 40px;
  height: 35px;
}
#side-menu-bar,
#alert-info-bar,
#user-info-bar {
  position: absolute !important;
  z-index: 20;
  width: 250px;
  overflow: hidden;
  background-color: #244a61;
  margin-top: -20px;
}
#side-menu-bar ul li.active a,
#alert-info-bar ul li.active a,
#user-info-bar ul li.active a {
  color: #3cd6c6 !important;
  background-color: transparent !important;
}
#side-menu-bar ul li,
#alert-info-bar ul li,
#user-info-bar ul li {
  padding-bottom: 5px;
  cursor: pointer;
}
#side-menu-bar ul li a,
#alert-info-bar ul li a,
#user-info-bar ul li a {
  color: #fff;
}
#side-menu-bar ul li a:hover,
#alert-info-bar ul li a:hover,
#user-info-bar ul li a:hover,
#side-menu-bar ul li a:visited,
#alert-info-bar ul li a:visited,
#user-info-bar ul li a:visited {
  background-color: #3cd6c6;
}
#side-menu-bar ul li a:hover,
#alert-info-bar ul li a:hover,
#user-info-bar ul li a:hover {
  color: #000000;
}
#side-menu-bar {
  min-height: 810px;
}
#alert-info-bar,
#user-info-bar {
  right: 0;
  width: 160px;
}
#alert-info-bar ul li a,
#user-info-bar ul li a {
  padding-top: 4px;
  padding-bottom: 4px;
}
#user-info-bar .logout-link a {
  border-top: 1px solid #fff !important;
}
