
<nav class="app-navbar navbar navbar-default" id="" role="navigation">
  <div class="navbar-header" id="accordion">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        
        </button>
    <a class="navbar-brand accordion-toggle" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
      <img   src="assets/images/side-bar-logo.png">
    </a>
    <a class="navbar-brand" href="#">
      <img src="assets/images/app-logo.png" class="app-logo">
    </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="">
        <a href="#">
          <img src="assets/images/pencil-logo.png">
        </a>
      </li>
    </ul>
    <div class="col-sm-6 col-md-7 col-lg-8">
      <form class="navbar-form search-form" role="search">
        <div class="input-group" style="width: 100%;">
          <input type="text" class="form-control search-input" placeholder="Search" name="q">
          <div class="input-group-btn" style="display:block">
            <button class="btn btn-default search-btn" type="submit">
                            <img src="assets/images/search-logo.png" >
                        </button>
          </div>
        </div>
      </form>
    </div>

    <ul class="nav navbar-nav pull-right">
      <li class="bell-logo">
        <a class="" href="#">
          <img src="assets/images/bell-logo.png">
        </a>
      </li>
      <li class="">
        <a class="user-logo" href="#">
          <img src="assets/images/user-logo.png" class="user-logo-img">
        </a>
      </li>
    </ul>
  
  </div>
</nav>












 <div id="collapseOne" class="panel-collapse collapse">
<ul class="nav" >
              <li class="active"><a href="#">
                Main Menu
              </a>
              </li>
              <li class=""><a href="#">
                Glossary
              </a>
              </li>
              <li class=""><a href="#">
                Information Assets
              </a>
              </li>
              <li class=""><a href="#">
                Labels
              </a>
              </li>
              <li class=""><a href="#">
                Queries
              </a>
              </li>
              <li class=""><a href="#">
                Collections
              </a>
              </li>
              <li class=""><a href="#">
                Data Integration
              </a>
              </li>
              <li class=""><a href="#">
                Administration
              </a>
              </li>
              
            </ul>      
    </div>