.setBorderRadius(@rad) {
    border-radius: @rad;
}

.setWidth(@width) {
    width: @width;
}

.setMarginTop(@top) {
    margin-top: @top;
}

.setMarginBottom(@btm) {
    margin-bottom: @btm;
}

.setMarginLeft(@lft) {
    margin-left: @lft;
}

.setMarginRight(@rgt) {
    margin-right: @rgt;
}

.setPaddingRight(@rgt) {
    padding-right: @rgt;
}
.setPaddingBottom(@rgt) {
    padding-bottom: @rgt;
}
.setPaddingLeft(@rgt) {
    padding-left: @rgt;
}
.setPaddingTop(@rgt) {
    padding-top: @rgt;
}
.setBckgrdColr(@color) {
    background-color: @color;
}

.setBrdrColr(@color) {
    border-color: @color;
}

.padding-top-5px{
    .setPaddingTop(5px);
}
.main-container {
    .setPaddingRight(12px);
    .setPaddingLeft(30px);
}

.igc-div {
    .setBckgrdColr(#fff);
    border-top-color: #3cd6c6 !important;
    border-width: 2px;
    border: 2px solid;
    border-bottom-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    height: 250px;
    h4 {
        color: #777777;
        font-weight: bold;
        .setPaddingLeft(8px);
    }
    .subscription-list {
        list-style: none;
        .setPaddingLeft(22px);
        li {
            .setPaddingBottom(4px);
        }
        a {
            color: #FF1493 !important;
            text-decoration: none;
        }
    }
    .queries-list {
    .setPaddingLeft(40px);
        li {
            color: #777777;
            .setPaddingBottom(4px);
        }
    }
    .workflow-img {
        height: 205px;
        .setWidth(335px);
    }
    .collection-img,
    .steward-img,
    .collaboration-img {
        height: 205px;
        .setWidth(335px);
        .setPaddingLeft(10px);
    }
    div.pull-left{
        .setPaddingLeft(4px);
        .setPaddingTop(12px);
    }
}

#myCarousel {
    max-width: 97%;
    .carousel-inner{
        .setWidth(96.5%);
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        .setWidth(70%);
        margin: auto;
    }
    .carousel-left {
        background-image: none;
        float: left;
        top: 50%;
        .setMarginLeft(-15px);
    }
    .carousel-right {
        background-image: none;
        float: right;
        top: 50%;
    }
    .news-content {
        .setPaddingLeft(10px);
        .setPaddingRight(30px);
    }
}

table {
    .setWidth(85%);
    max-width: 90%;
    .setMarginLeft(28px);
    td {
        a {
            color: #FF1493 !important;
            text-decoration: none;
        }
    }
}

.activity-pagination {
    .pagination {
        margin: 0;
        li {
            a {
            color: #FF1493 !important;
            }
            a:visited,a:active{
                color: #000000;
            }
        }

    }
}

.sidebar-button {
    text-align: center;
    min-height: 20px;
    height: 790px;
    max-height: 800px;
    padding: 2px;
    margin-bottom: 20px;
    .setBckgrdColr(rgba(36, 74, 97, 1));
    border: none;
    border-radius: 0px;
    a,
    a:hover,
    a:visited,
    a:active {
        background-color: transparent;
    }
    .button-ul {
        .setBckgrdColr(#3cd6c6) !important;
        .setMarginLeft(-2px);
        margin-top: -2px;
        .setPaddingRight(10px);
        height: 790px;
        max-height: 792px;
        li {
            img {
                .setPaddingTop(320px);
            }
        }
    }
    .resize-logo-li{
        .setPaddingTop(115px);
        a{
            border-top: 1px solid #3cd6c6 !important;
        }
    }
}

 #sidebar-section {
     .setPaddingRight(0px);
 
 .collapse.width {
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.15s ease;
  -moz-transition: width 0.15s ease;
  -o-transition: width 0.15s ease;
  transition: width 0.15s ease;
}
 .sidebar-button{
     .side-menu-img{
         margin-top: 360px;
     }
 }
    #sidebar-collapse{
        position:relative;
        .setWidth(78%);
    }
    .open-side-bar, .close-side-bar{
        position:relative;
        .setWidth(22%);
    }
    .back-logo{
        .setWidth(40px);
        height: 40px;
    }
    ul li{
        .setPaddingBottom(6px);
    }
}


