.padding-top-5px {
  padding-top: 5px;
}
.main-container {
  padding-right: 12px;
  padding-left: 30px;
}
.igc-div {
  background-color: #fff;
  border-top-color: #3cd6c6 !important;
  border-width: 2px;
  border: 2px solid;
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
  height: 250px;
}
.igc-div h4 {
  color: #777777;
  font-weight: bold;
  padding-left: 8px;
}
.igc-div .subscription-list {
  list-style: none;
  padding-left: 22px;
}
.igc-div .subscription-list li {
  padding-bottom: 4px;
}
.igc-div .subscription-list a {
  color: #FF1493 !important;
  text-decoration: none;
}
.igc-div .queries-list {
  padding-left: 40px;
}
.igc-div .queries-list li {
  color: #777777;
  padding-bottom: 4px;
}
.igc-div .workflow-img {
  height: 205px;
  width: 335px;
}
.igc-div .collection-img,
.igc-div .steward-img,
.igc-div .collaboration-img {
  height: 205px;
  width: 335px;
  padding-left: 10px;
}
.igc-div div.pull-left {
  padding-left: 4px;
  padding-top: 12px;
}
#myCarousel {
  max-width: 97%;
}
#myCarousel .carousel-inner {
  width: 96.5%;
}
#myCarousel .carousel-inner > .item > img,
#myCarousel .carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
#myCarousel .carousel-left {
  background-image: none;
  float: left;
  top: 50%;
  margin-left: -15px;
}
#myCarousel .carousel-right {
  background-image: none;
  float: right;
  top: 50%;
}
#myCarousel .news-content {
  padding-left: 10px;
  padding-right: 30px;
}
table {
  width: 85%;
  max-width: 90%;
  margin-left: 28px;
}
table td a {
  color: #FF1493 !important;
  text-decoration: none;
}
.activity-pagination .pagination {
  margin: 0;
}
.activity-pagination .pagination li a {
  color: #FF1493 !important;
}
.activity-pagination .pagination li a:visited,
.activity-pagination .pagination li a:active {
  color: #000000;
}
.sidebar-button {
  text-align: center;
  min-height: 20px;
  height: 790px;
  max-height: 800px;
  padding: 2px;
  margin-bottom: 20px;
  background-color: #244a61;
  border: none;
  border-radius: 0px;
}
.sidebar-button a,
.sidebar-button a:hover,
.sidebar-button a:visited,
.sidebar-button a:active {
  background-color: transparent;
}
.sidebar-button .button-ul {
  background-color: #3cd6c6 !important;
  margin-left: -2px;
  margin-top: -2px;
  padding-right: 10px;
  height: 790px;
  max-height: 792px;
}
.sidebar-button .button-ul li img {
  padding-top: 320px;
}
.sidebar-button .resize-logo-li {
  padding-top: 115px;
}
.sidebar-button .resize-logo-li a {
  border-top: 1px solid #3cd6c6 !important;
}
#sidebar-section {
  padding-right: 0px;
}
#sidebar-section .collapse.width {
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.15s ease;
  -moz-transition: width 0.15s ease;
  -o-transition: width 0.15s ease;
  transition: width 0.15s ease;
}
#sidebar-section .sidebar-button .side-menu-img {
  margin-top: 360px;
}
#sidebar-section #sidebar-collapse {
  position: relative;
  width: 78%;
}
#sidebar-section .open-side-bar,
#sidebar-section .close-side-bar {
  position: relative;
  width: 22%;
}
#sidebar-section .back-logo {
  width: 40px;
  height: 40px;
}
#sidebar-section ul li {
  padding-bottom: 6px;
}
