
<div id="page-content-wrapper" style="padding:0px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="igc-div">
              <div class="pull-left">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left">Activity</h4>
                <a href="#"><img src="assets/images/next-btn.png" class="padding-top-5px pull-right" /></a>
              </div>
              <div style="clear:both;" class="row">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody id="myTable">
                      <tr>
                        <td>2/13/17, 5:35 PM <a hre="#">Pre-qualify</a> added to Terms</td>
                      </tr>
                      <tr>
                        <td>2/13/17, 5:35 PM <a hre="#">001589652</a> added to Collections</td>
                      </tr>
                      <tr>
                        <td>2/13/17, 5:35 PM <a hre="#">2698523_new</a> modified by Andrew Smith</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="activity-pagination text-center">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true" style="color: #FF1493 !important;font-weight:bold">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true" style="color: #FF1493 !important;font-weight:bold">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="igc-div">
              <div class="pull-left">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div id="myCarousel" class="carousel slide pull-right" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <h4>IGC Latest New Assets</h4>
                    <br>
                    <div>
                      <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                        sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                        dolor sit amet lacus accumsan et viverra justo commodo.
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <h4>IGC Latest Tips</h4>
                    <br>
                    <div>
                      <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                        sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                        dolor sit amet lacus accumsan et viverra justo commodo.
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <h4>IGC Latest Alerts</h4>
                    <br>
                    <div>
                      <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                        sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                        dolor sit amet lacus accumsan et viverra justo commodo.
                      </p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control carousel-left" href="#myCarousel" role="button" data-slide="prev">
                  <img src="assets/images/arrow-left.png" class="pull-left" />
                </a>
                <a class="right carousel-control carousel-right" href="#myCarousel" role="button" data-slide="next">
                  <img src="assets/images/arrow-right.png" class="pull-right" style="padding-right: 10px;" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="igc-div">
              <div class="pull-left">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" >Queries</h4>
                <a href="#"><img src="assets/images/next-btn.png"  class="padding-top-5px pull-right" /></a>
              </div>
              <div style="clear:both;">
                <ul class="queries-list">
                  <li>
                    Lorem ipsum dolor sit amet
                  </li>
                  <li>
                    onsectetur adipiscing elit
                  </li>
                  <li>
                    sed rhoncus sapien nunc eget
                  </li>
                  <li>
                    Proin sodales pulvinar tempor
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet
                  </li>
                  <li>
                    onsectetur adipiscing elit
                  </li>
                  <li>
                    sed rhoncus sapien nunc eget
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="igc-div">
              <div class="pull-left" >
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left">Collections</h4>
                <a href="#"><img src="assets/images/next-btn.png" class="padding-top-5px pull-right" /></a>
              </div>
              <div style="clear:both" class="">
                <img src="assets/images/collection-logo.png" class="collection-img" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="igc-div">
              <div class="pull-left">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" >Subscriptions</h4>
                <a href="#"><img src="assets/images/next-btn.png" class="padding-top-5px pull-right" /></a>
              </div>
              <div style="clear:both;">
                <ul class="subscription-list">
                  <li>
                    <a href="#">Ut wisi enim</a>
                  </li>
                  <li>
                    <a href="#">veniam</a>
                  </li>
                  <li>
                    <a href="#">commando conse</a>
                  </li>
                  <li>
                    <a href="#">Ut wisi enim</a>
                  </li>
                  <li>
                    <a href="#">Ut wisi enim</a>
                  </li>
                  <li>
                    <a href="#">veniam</a>
                  </li>
                  <li>
                    <a href="#">commando conse</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="igc-div">
              <div class="pull-left" >
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left">Workflow</h4>
                <a href="#"><img src="assets/images/next-btn.png" class="padding-top-5px pull-right" /></a>
              </div>
              <div style="clear:both" class="">
                <img src="assets/images/workflow-logo.png" class="workflow-img" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="igc-div">
              <div class="pull-left">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" style="padding-left:4px;">Stewardship</h4>
                <a href="#"><img src="assets/images/next-btn.png" class="padding-top-5px pull-right" /></a>
              </div>
              <div style="clear:both" class="">
                <img src="assets/images/steward-logo.png" class="steward-img" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="igc-div">
              <div class="pull-left">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div class="padding-top-5px">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left">Collaboration</h4>
                <a href="#"><img src="assets/images/next-btn.png"  class="padding-top-5px pull-right" /></a>
              </div>
              <div style="clear:both" class="">
                <img src="assets/images/collaboration-logo.png" class="collaboration-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="sidebar-section">
        <div *ngIf="!expandSideBar" class="sidebar-nav-fixed pull-right affix open-side-bar">
          <div class="well sidebar-button" style="background-color: #3cd6c6 !important;">
            <a >
                <img src="assets/images/side-menu-expand.png" (click)="toggleSideBarBtn()" class="side-menu-img"/>
              </a>
          </div>
        </div>
        <div *ngIf="expandSideBar" class="sidebar-nav-fixed pull-left affix close-side-bar">
          <div class="well sidebar-button" style="background-color: #3cd6c6 !important;">
            <a >
                <img src="assets/images/side-menu-collapse.png" (click)="toggleSideBarBtn()" class="side-menu-img"/>
              </a>
          </div>
        </div>
        <div *ngIf="expandSideBar" id="sidebar-collapse" class="panel-collapse sidebar-nav-fixed pull-left affix">
          <div class="well sidebar-button">
            <div >
              <ul class="nav">
              <li *ngIf="switchBtn" id="open-toggle" class="active"><a href="#">
                <img src="assets/images/open-toggle.png" (click)="toggleSwitch()"/>
              </a>
              </li>
              <li *ngIf="!switchBtn" id="close-toggle" class="active"><a href="#">
                <img src="assets/images/close-toggle.png" (click)="toggleSwitch()"/>
              </a>
              </li>
              </ul>
            <ul *ngIf="!moreOptn" class="nav">              
              <li class="active"><a href="#">
                <img src="assets/images/book-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/shield-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/sitemap-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/cubical-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/wait-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/mail-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/archieve-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/db-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/cube-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/folder-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/ie-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/vertical-dots.png" (click)="toggleOption()"/>
              </a>
              </li>
              <li class="resize-logo-li">
                <a href="#">
                <img src="assets/images/resize-logo.png"/>
              </a>
              </li>
            </ul>



            <ul *ngIf="moreOptn" class="nav">              
              <li class="active"><a href="#">
                <img src="assets/images/locked-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/chain-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/attach-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/notes-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/download-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/hash-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/task-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img  src="assets/images/add-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img class="back-logo" src="assets/images/back-logo.png" (click)="toggleOption()"/>
              </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>




   