.main-container {
  padding-left: 30px;
  padding-right: 12px;
}
a {
  cursor: pointer;
}
.activity-div,
.assets-div {
  background-color: #fff;
  border-top-color: #3cd6c6 !important;
  border-width: 2px;
  border: 2px solid;
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
  min-height: 250px;
  max-height: 250px;
}
.activity-div h4,
.assets-div h4 {
  color: #777777;
  font-weight: bold;
}
.activity-div .subscription-list,
.assets-div .subscription-list {
  list-style: none;
  padding-left: 18px;
}
.activity-div .subscription-list li,
.assets-div .subscription-list li {
  padding-bottom: 2px;
}
.activity-div .subscription-list a,
.assets-div .subscription-list a {
  color: #FF1493 !important;
  text-decoration: none;
}
.activity-div .queries-list,
.assets-div .queries-list {
  padding-left: 35px;
}
.activity-div .queries-list li,
.assets-div .queries-list li {
  color: #777777;
  padding-bottom: 2px;
}
.activity-div .workflow-img,
.assets-div .workflow-img {
  height: 205px;
  width: 335px;
}
.activity-div .collection-img,
.assets-div .collection-img,
.activity-div .steward-img,
.assets-div .steward-img,
.activity-div .collaboration-img,
.assets-div .collaboration-img {
  height: 205px;
  width: 335px;
  padding-left: 6px;
}
#myCarousel {
  max-width: 98%;
}
#myCarousel .carousel-inner > .item > img,
#myCarousel .carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
#myCarousel .carousel-left {
  background-image: none;
  float: left;
  top: 50%;
}
#myCarousel .carousel-right {
  background-image: none;
  float: right;
  top: 50%;
}
#myCarousel .news-content {
  padding-left: 30px;
  padding-right: 30px;
}
table {
  width: 85%;
  max-width: 90%;
  margin-left: 24px;
}
table td a {
  color: #FF1493 !important;
  text-decoration: none;
}
.activity-pagination .pagination {
  margin: 0;
}
.activity-pagination .pagination li a.page-link {
  color: #FF1493 !important;
}
.button-well {
  text-align: center;
  min-height: 20px;
  height: 790px;
  max-height: 800px;
  padding: 2px;
  margin-bottom: 20px;
  background-color: #244a61;
  border-radius: 0px;
}
.button-well a,
.button-well a:hover,
.button-well a:visited,
.button-well a:active {
  background-color: transparent;
}
.button-well .custom-ul {
  background-color: #3cd6c6 !important;
  margin-left: -2px;
  margin-top: -2px;
  padding-right: 10px;
  height: 790px;
  max-height: 792px;
}
.button-well .custom-ul li img {
  padding-top: 320px;
  padding-left: 10px;
}
#sidebar-section .collapse.in {
  -webkit-transition: width 2s ease;
  -moz-transition: width 2s ease;
  -o-transition: width 2s ease;
  transition: width 2s ease;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  background: yellow;
  vertical-align: middle;
  line-height: 30px;
}
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
