<!--<div class="container-fluid main-container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 activity-div">
      <div class="pull-left" style="padding-top: 12px;">
        <div>
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
      </div>
      <div>
        <h4 class="pull-left" style="padding-left:12px;">Activity</h4>
        <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
      </div>
      <div style="clear:both;" class="row">
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody id="myTable">
              <tr>
                <td>2/13/17, 5:35 PM <a hre="#">Pre-qualify</a> added to Terms</td>
              </tr>
              <tr>
                <td>2/13/17, 5:35 PM <a hre="#">001589652</a> added to Collections</td>
              </tr>
              <tr>
                <td>2/13/17, 5:35 PM <a hre="#">2698523_new</a> modified by Andrew Smith</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 assets-div" >
      <div class="pull-left" style="padding-top: 12px;">
        <div>
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
      </div>
      <div id="myCarousel" class="carousel slide pull-right" data-ride="carousel">
 
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h4>IGC Latest New Assets</h4>
            <br>
            <div>
              <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo.
              </p>
            </div>
          </div>
          <div class="item">
            <h4>IGC Latest Tips</h4>
            <br>
            <div>
              <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo.
              </p>
            </div>
          </div>
          <div class="item">
            <h4>IGC Latest Alerts</h4>
            <br>
            <div>
              <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                amet lacus accumsan et viverra justo commodo.
              </p>
            </div>
          </div>
        </div>

        <a class="left carousel-control carousel-left" href="#myCarousel" role="button" data-slide="prev">
          <img src="assets/images/arrow-left.png" class="pull-left" />
        </a>
        <a class="right carousel-control carousel-right" href="#myCarousel" role="button" data-slide="next">
          <img src="assets/images/arrow-right.png" class="pull-right" />
        </a>
      </div>
    </div>
     <div class="col-lg-4 col-md-4 col-sm-4 activity-div">
      <div class="pull-left" style="padding-top: 12px;">
        <div>
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
      </div>
      <div>
        <h4 class="pull-left" style="padding-left:12px;">Queries</h4>
        <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
      </div>
      <div style="clear:both;">
        <ul class="queries-list">
          <li>
            Lorem ipsum dolor sit amet
          </li>
          <li>
            onsectetur adipiscing elit
          </li>
          <li>
            sed rhoncus sapien nunc eget
          </li>
          <li>
            Proin sodales pulvinar tempor
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 activity-div" >
      <div class="pull-left" style="padding-top: 12px;">
        <div>
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
      </div>
      <div>
        <h4 class="pull-left" style="padding-left:12px;">Collections</h4>
        <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4  assets-div" >
      <div class="pull-left" style="padding-top: 12px;">
        <div>
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
      </div>
      <div>
        <h4 class="pull-left" style="padding-left:12px;">Subscriptions</h4>
        <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
      </div>
      <div style="clear:both;">
        <ul class="subscription-list">
          <li>
            <a href="#">Ut wisi enim</a>
          </li>
          <li>
            <a href="#">veniam</a>
          </li>
          <li>
            <a href="#">commando conse</a>
          </li>
          <li>
            <a href="#">Ut wisi enim</a>
          </li>
        </ul>
      </div>
    </div>

  
    <div class="col-lg-4 col-md-3 col-sm-3 activity-div">
      <div class="pull-left" style="padding-top: 12px;">
        <div>
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
      </div>
      <div>
        <h4 class="pull-left" style="padding-left:12px;">Workflow</h4>
        <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
      </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 activity-div" >
      <div class="pull-left" style="padding-top: 12px;">
        <div>
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
      </div>
      <div>
        <h4 class="pull-left" style="padding-left:12px;">Stewardship</h4>
        <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-md-offset-1 assets-div" >
      <div class="pull-left" style="padding-top: 12px;">
        <div>
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
        <div style="padding-top: 5px;">
          <img src="assets/images/dot-logo.png" class="pull-left" />
          <img src="assets/images/dot-logo.png" class="pull-right" />
        </div>
      </div>
      <div>
        <h4 class="pull-left" style="padding-left:12px;">Collaboration</h4>
        <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
      </div>
    </div>
  </div>
</div>

-->
<div id="page-content-wrapper" style="padding:0px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="assets-div" style="height:250px;">
              <div class="pull-left" style="padding-top: 12px; padding-left: 4px;">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" style="padding-left:4px;">Activity</h4>
                <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
              </div>
              <div style="clear:both;" class="row">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody id="myTable">
                      <tr>
                        <td>2/13/17, 5:35 PM <a hre="#">Pre-qualify</a> added to Terms</td>
                      </tr>
                      <tr>
                        <td>2/13/17, 5:35 PM <a hre="#">001589652</a> added to Collections</td>
                      </tr>
                      <tr>
                        <td>2/13/17, 5:35 PM <a hre="#">2698523_new</a> modified by Andrew Smith</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="activity-pagination text-center">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true" style="color: #FF1493 !important;font-weight:bold">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true" style="color: #FF1493 !important;font-weight:bold">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="assets-div" style="height:250px;">
              <div class="pull-left" style="padding-top: 12px; padding-left: 4px;">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div id="myCarousel" class="carousel slide pull-right" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <h4>IGC Latest New Assets</h4>
                    <br>
                    <div>
                      <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                        sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                        dolor sit amet lacus accumsan et viverra justo commodo.
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <h4>IGC Latest Tips</h4>
                    <br>
                    <div>
                      <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                        sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                        dolor sit amet lacus accumsan et viverra justo commodo.
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <h4>IGC Latest Alerts</h4>
                    <br>
                    <div>
                      <p class="news-content">Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                        sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                        dolor sit amet lacus accumsan et viverra justo commodo.
                      </p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control carousel-left" href="#myCarousel" role="button" data-slide="prev">
                  <img src="assets/images/arrow-left.png" class="pull-left" />
                </a>
                <a class="right carousel-control carousel-right" href="#myCarousel" role="button" data-slide="next">
                  <img src="assets/images/arrow-right.png" class="pull-right" style="padding-right: 10px;" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="assets-div">
              <div class="pull-left" style="padding-top: 12px; padding-left: 4px;">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" style="padding-left: 4px;">Queries</h4>
                <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
              </div>
              <div style="clear:both;">
                <ul class="queries-list">
                  <li>
                    Lorem ipsum dolor sit amet
                  </li>
                  <li>
                    onsectetur adipiscing elit
                  </li>
                  <li>
                    sed rhoncus sapien nunc eget
                  </li>
                  <li>
                    Proin sodales pulvinar tempor
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet
                  </li>
                  <li>
                    onsectetur adipiscing elit
                  </li>
                  <li>
                    sed rhoncus sapien nunc eget
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="assets-div">
              <div class="pull-left" style="padding-top: 12px;    padding-left: 4px;">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" style="padding-left:4px;">Collections</h4>
                <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
              </div>
              <div style="clear:both" class="">
                <img src="assets/images/collection-logo.png" class="collection-img" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="assets-div">
              <div class="pull-left" style="padding-top: 12px;     padding-left: 4px;">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" style="padding-left:4px;">Subscriptions</h4>
                <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
              </div>
              <div style="clear:both;">
                <ul class="subscription-list">
                  <li>
                    <a href="#">Ut wisi enim</a>
                  </li>
                  <li>
                    <a href="#">veniam</a>
                  </li>
                  <li>
                    <a href="#">commando conse</a>
                  </li>
                  <li>
                    <a href="#">Ut wisi enim</a>
                  </li>
                  <li>
                    <a href="#">Ut wisi enim</a>
                  </li>
                  <li>
                    <a href="#">veniam</a>
                  </li>
                  <li>
                    <a href="#">commando conse</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="assets-div">
              <div class="pull-left" style="padding-top: 12px; padding-left:4px;">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" style="padding-left:4px;">Workflow</h4>
                <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
              </div>
              <div style="clear:both" class="">
                <img src="assets/images/workflow-logo.png" class="workflow-img" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="assets-div">
              <div class="pull-left" style="padding-top: 12px;padding-left:4px;">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" style="padding-left:4px;">Stewardship</h4>
                <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
              </div>
              <div style="clear:both" class="">
                <img src="assets/images/steward-logo.png" class="steward-img" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="assets-div">
              <div class="pull-left" style="padding-top: 12px;padding-left:4px;">
                <div>
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
                <div style="padding-top: 5px;">
                  <img src="assets/images/dot-logo.png" class="pull-left" />
                  <img src="assets/images/dot-logo.png" class="pull-right" />
                </div>
              </div>
              <div>
                <h4 class="pull-left" style="padding-left:4px;">Collaboration</h4>
                <a href="#"><img src="assets/images/next-btn.png" style="padding-top:5px;" class="pull-right" /></a>
              </div>
              <div style="clear:both" class="">
                <img src="assets/images/collaboration-logo.png" class="collaboration-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1" id="sidebar-section" style="padding-right:0px">
        <div class="sidebar-nav-fixed pull-left affix" style="position:relative;width:22%">
          <div class="well button-well" style="background-color: #3cd6c6 !important;border: none;">
            <a class="sidebar-toggle" href="#sidebar-collapse" data-toggle="collapse" data-parent="#sidebar-section">
                <img src="assets/images/side-menu-expand.png" style="margin-top: 360px;"/>
              </a>
          </div>
        </div>
        <div id="sidebar-collapse" class="panel-collapse collapse sidebar-nav-fixed pull-right affix" style="position:relative;width:78%">
          <div class="well button-well" style="important;border: none;">
            <div >
            <ul class="nav">
              <li id="open-toggle" class="active"><a href="#">
                <img src="assets/images/open-toggle.png"/>
              </a>
              </li>
              <li id="close-toggle" class="active"><a href="#">
                <img src="assets/images/close-toggle.png"/>
              </a>
              </li>              
              <li class="active"><a href="#">
                <img src="assets/images/book-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/shield-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/sitemap-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/cubical-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/wait-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/mail-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/archieve-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/db-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/cube-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/folder-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/ie-logo.png"/>
              </a>
              </li>
              <li class="active"><a href="#">
                <img src="assets/images/vertical-dots.png" />
              </a>
              </li>
              <li class="active" style="padding-top: 152px;">
                <a href="#" style="border-top: 1px solid #3cd6c6 !important;">
                <img src="assets/images/resize-logo.png"/>
              </a>
              </li>
            </ul>
            </div>
          </div>
          <!--/.well -->
        </div>
      </div>
    </div>
  </div>
</div>




            <!--/sidebar-nav-fixed -->



   